<!DOCTYPE html>
<html>
  <head>
    <title>Shopping Mall</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flash" if notice %>
    <div class="container">
      <%= yield %>
    </div>
    <footer id="footer">
      &copy; 2018
    </footer>
  </body>
</html>
